#home {
    background-color: #f9ff82;
    margin-top: 0px;
    margin-bottom: 0%;
    padding: 0%;
    text-align: center;
    border: double;
    padding: 30px;
    border-width:10px;
}

h1 {
    font-family: 'Fredoka One', cursive;
    font-size: 60px;
    font-weight: 100;
    text-align: center;
}

#logo {
    margin-top: -30px;
    text-align: center;
    margin-right: 100px;
}

h3 {
    font-family: 'Work Sans', sans-serif;
}

#Menu {
    float:center;
    list-style-type: none;
    margin-right: 30px;
     margin-left: 30px;
    margin-top: -20px;
    background-color: gray;
     z-index:10;
    position: absolute;
}

.link {
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    margin-bottom: 15px;
    cursor:pointer;
     margin-top: 15px;
     margin-right: 15px;
    text-decoration: none;
    font-size:30px;
    color:white;
}
.link:hover {
    font-size:25px; 
}
a{
    text-decoration: none;
    color:white;
}

html{
    scroll-behavior:smooth;
}

#Menu-bar{
    background-color: #3b3e42;
}